body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #4DD0E1, #9575CD);
    font-family: sans-serif;
    color: white;
}

.player-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    font-size: 24px;
}

.icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo general para todas las imágenes de icono */
.icon img, .control-button img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.album-art {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    margin: 0 auto 30px;
}

.song-details h1 {
    font-size: 20px;
    margin: 0 0 5px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.song-details p {
    font-size: 16px;
    margin: 0;
    opacity: 0.8;
}

.progress-bar {
    width: 80%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 40px auto;
    position: relative;
    border-radius: 2px;
}

.progress-bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

.play-button {
    width: 70px;
    height: 70px;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.1); 
}

/* Ajuste específico para que los iconos de control sean más grandes */
.control-button img {
    width: 50%;
    height: 50%;
}

.play-button img {
    width: 60%;
    height: 60%;
    /* Puede que necesites ajustar el transform-translateX si el icono de play no queda centrado */
    /* transform: translateX(2px); */
}