body{
    font-family: 'Roboto', sans-serif;
     background-color: #1a1a1a;
}

.app-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.content-area {
  overflow-y: auto;
  padding: 24px 32px;
}